body {
    color: #cccccc;
    background-color: #0f0f23;
    font-family: monospace;
}

h1 {
    color: #00cc00;
    text-shadow: 0 0 8px #00cc00;
}

button {
    display: inline-block;
    font-size: 1em;
    padding: 0.5em;
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    border-radius: 5px;
    color: inherit;
    background-color: inherit;
}

ul {
    font-size: 2em;
    list-style-type: none;
}

pre {
    margin: 0;
}

#first::before {
    content: "•";
    padding-left: 1em;
    padding-right: 0.5em;
    color: #9999cc;
    text-shadow: 0 0 8px #9999cc;
}

#second::before {
    content: "•";
    padding-left: 1em;
    padding-right: 0.5em;
    color: #ffff66;
    text-shadow: 0 0 8px #ffff66;
}
